body{
    
        background: linear-gradient(120deg, #a8edea, #fed6e3);
        height:100%;
       
      
      
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.rightlogo{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    
}
.rightlogo img{
    width: 5%;
 height: 30.9px;
   
}
.second{
    font-weight: 400;
}

.talk{
    font-size: xx-large;
}
.a56 .right{
   display: flex;
    flex-direction: column;
   gap: 50px;
    width: 55%;
    max-width: 35%;
}
.left{
    display: flex;
    justify-content: flex-end;
 
    width: 45%;
}
.left img{
  
    margin-top: 10px;
    width: 90%;
    
}
.buttones{
    
    display: flex;
    gap:30px;
  
    
}
.buttones .one{
    width: 175px;
    height: 50px;
    background-color: #F5F5F5;
    border: none;
   border-radius: 50px;
 
}
.buttones .two{
    background-color: #F5F5F5;
    width: 175px;
    height: 50px;
    opacity: .6;
    border: none;
    border-radius: 50px;
    

}
.all{
    padding: 40px;
}
.all .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.all .right{
    margin-top: 10px;
    width: 50%;
}
 .all .right img{
    width: 100%;
    border-top-right-radius: 50px;
}
.info .left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.info .top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info .bottom{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info .right{
    margin-top: 10px;
    width: 50%;
}
.info .right img{
    width: 100%;
    border-top-right-radius: 50px;
}
.info .first h2{
    margin-bottom: 20px;
}
.footer .left{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    font-size: xx-large;
}
.footer .right {
    margin-top: 50px;
    width: 60%;
display: flex;
flex-direction: column;
align-items: center;
font-size: large;
}
.footer .right .top{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 30px;
    
}
.shop{
   gap: 20px;
}
.shop .title h1{
   text-align: center;
   font-weight: 90;
   font-size:xx-large;
   margin-bottom: 50px;
   margin-top: 50px;
}

.products{
    display: flex;
    flex-direction: row;
gap:75px;
margin-bottom: 50px;
}
.products   img{
    border-top-right-radius:50px ;
 width: 300px;
 height: 233px;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.shopb {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
   margin-bottom: 50px;
}
.shopb button{
    width: 150px;
    height: 50px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 50px;
}
.products .product{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color:#F5F5F5;
}